@charset "UTF-8";
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/futura_pt_book.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/futura_pt_book.eot?#iefix") format("embedded-opentype"), url("../fonts/futura_pt_book.woff2") format("woff2"), url("../fonts/futura_pt_book.woff") format("woff"), url("../fonts/futura_pt_book.ttf") format("truetype"), url("../fonts/futura_pt_book.svg#futura_pt_book") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Futura PT Bold";
  src: url("../fonts/futura_pt_bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/futura_pt_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura_pt_bold.woff2") format("woff2"), url("../fonts/futura_pt_bold.woff") format("woff"), url("../fonts/futura_pt_bold.ttf") format("truetype"), url("../fonts/futura_pt_bold.svg#futura_pt_bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Futura PT Book";
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main {
  height: 100vh;
  width: 100%;
  background-image: url(../img/main_img/main_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 26px;
}
@media (max-width: 645px) {
  .main {
    height: 800px;
  }
}
.main .search-header {
  display: none;
}
.main .search {
  width: 400px;
  height: 30px;
  border-radius: 15.5px;
  margin: 0 auto;
  background-image: url(../img/main_img/find.svg);
  background-repeat: no-repeat;
  background-position: 17px 50%;
  padding: 0 10px 0 35px;
  display: block;
}
@media (max-width: 430px) {
  .main .search {
    width: 90%;
  }
}
@media (max-width: 565px) {
  .main .search-header {
    margin: 0 auto;
    display: block !important;
  }
}
.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main .header__logo {
  display: block;
  margin-left: 4px;
}
@media (max-width: 565px) {
  .main .header__search {
    display: none;
  }
}
.main .header input {
  width: 400px;
  height: 30px;
  border-radius: 15.5px;
  margin-right: 55px;
  background-image: url(../img/main_img/find.svg);
  background-repeat: no-repeat;
  background-position: 17px 50%;
  padding: 0 10px 0 35px;
}
@media (max-width: 767px) {
  .main .header input {
    width: 100%;
  }
}
.main .header__cart-menu {
  display: flex;
}
.main .header__cart {
  margin-right: 35px;
  cursor: pointer;
}
.main .header__menu {
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.main .header__burger {
  padding: 12px 0;
}
.main .header__burger span {
  position: relative;
  display: block;
  width: 26px;
  height: 2px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.main .header__burger span:before, .main .header__burger span:after {
  position: absolute;
  background: #fff;
  content: "";
  width: 26px;
  height: 2px;
  transition: all 0.2s ease-in-out;
}
.main .header__burger span:before {
  top: -8px;
}
.main .header__burger span:after {
  top: 8px;
}
.main .header__burger.active span {
  background: transparent;
}
.main .header__burger.active span:before {
  transform: rotate(45deg) translate(5px, 6px);
}
.main .header__burger.active span:after {
  transform: rotate(-45deg) translate(5px, -6px);
}
.main .header__menu-window {
  width: 346px;
  min-height: 550px;
  background-color: #fff;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 74px 10px 20px 62px;
  overflow: auto;
  transform: translateY(-140%);
  transition: all 0.5s;
}
.main .header .show-menu {
  transform: translateY(0%);
}
.main .header li {
  list-style: none;
}
.main .header .cart {
  margin-left: 50px;
}
.main .header span {
  font-size: 24px;
}
.main .header__li-bikes {
  margin-top: 53px;
}
.main .header__menu-bikes {
  font-family: "Futura PT Bold";
  font-size: 24px;
  padding-bottom: 15px;
  cursor: pointer;
}
.main .header__li-navigation {
  margin-top: 25px;
}
.main .header__menu-navigation {
  font-size: 18px;
  padding-bottom: 15px;
  cursor: pointer;
}
.main .header__inst-face-black {
  padding-top: 25px;
}
.main__title {
  margin-top: 452px;
}
.main__title h2 {
  color: #fff;
  font-size: 24px;
}
.main__title h1 {
  font-family: "Futura PT Bold";
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  line-height: 70px;
}
@media (max-width: 645px) {
  .main__title h1 {
    font-size: 48px;
    line-height: 50px;
  }
}
@media (max-width: 500px) {
  .main__title h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 645px) {
  .main__title {
    margin-top: 200px;
  }
}
.main__button {
  width: 206px;
  height: 41px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: "Futura PT Bold";
  margin-top: 25px;
  transition: all 0.3s;
  cursor: pointer;
}
.main__button:hover {
  background-color: #2a2a2a;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1290px) {
  .container {
    padding: 0 20px;
  }
}

.categories {
  min-height: 1437px;
  width: 100%;
  padding-top: 120px;
  background-image: url(../img/categories_img/categories_bg.png);
}
.categories h2 {
  font-size: 64px;
  font-family: "Futura PT Bold";
  margin-left: 70px;
}
@media (max-width: 645px) {
  .categories h2 {
    font-size: 48px;
    line-height: 50px;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .categories h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
.categories .slide-wrp {
  padding: 0 20px;
}
.categories .swiper-container {
  width: 100%;
  height: 319px;
  margin-top: 30px;
}
@media (max-width: 619px) {
  .categories .swiper-wrapper {
    height: 80%;
  }
}
@media (max-width: 586px) {
  .categories .swiper-wrapper {
    height: 75%;
  }
}
@media (max-width: 510px) {
  .categories .swiper-wrapper {
    height: 50%;
  }
}
.categories .img1 {
  width: 100%;
  height: 100%;
  background-image: url(../img/main_slider1/bg_slide1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 44px;
}
@media (max-width: 619px) {
  .categories .img1 {
    padding-top: 17px;
  }
}
.categories .img2 {
  width: 100%;
  height: 100%;
  background-image: url(../img/main_slider1/bg_slide2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 44px;
}
@media (max-width: 619px) {
  .categories .img2 {
    padding-top: 17px;
  }
}
.categories .img3 {
  width: 100%;
  height: 100%;
  background-image: url(../img/main_slider1/bg_slide3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 44px;
}
@media (max-width: 619px) {
  .categories .img3 {
    padding-top: 17px;
  }
}
.categories .swiper-button-prev {
  left: 95px;
  color: #fff;
}
.categories .swiper-button-next {
  right: 95px;
  color: #fff;
}
.categories img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 626px) {
  .categories img {
    width: 60%;
    height: auto;
  }
}
@media (max-width: 586px) {
  .categories img {
    margin-top: 20px;
  }
}
@media (max-width: 510px) {
  .categories img {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 626px) {
  .categories .swiper-button-next, .categories .swiper-button-prev {
    display: none;
  }
  .categories__arrow-slide {
    display: none !important;
  }
}
.categories .slide-title {
  margin-top: 25px;
}
@media (max-width: 630px) {
  .categories .slide-title {
    width: 30%;
    height: auto;
    margin-top: 15px;
  }
}
.categories h3 {
  font-size: 64px;
  font-family: "Futura PT Bold";
  color: #000;
  margin-top: 170px;
}
@media (max-width: 645px) {
  .categories h3 {
    font-size: 48px;
    line-height: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .categories h3 {
    font-size: 40px;
    line-height: 40px;
  }
}
.categories__favorites-wrp {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categories__favorites-big {
  width: 746px;
  height: 450px;
  background-color: #151515;
  margin-bottom: 30px;
  padding-top: 59px;
  position: relative;
  display: none;
}
@media (max-width: 767px) {
  .categories__favorites-big-wrp {
    width: 100%;
  }
  .categories__favorites-big {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 632px) {
  .categories .min-shlem {
    width: 50%;
  }
  .categories__favorites-big {
    display: none !important;
  }
}
.categories__big-bike {
  margin-top: 20px;
}
@media (max-width: 531px) {
  .categories__big-bike {
    width: 70%;
  }
}
.categories .big-shlem {
  margin-top: -30px;
}
.categories__arrow-slide {
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 30px;
}
.categories__big-title {
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  font-family: "Futura PT Bold";
  font-size: 36px;
  margin-right: 72px;
}
.categories__big-subtitle {
  font-size: 18px;
  color: #fff;
  text-align: right;
  margin-right: 72px;
  margin-top: 10px;
}
.categories__favorites-small-wrp {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (max-width: 590px) {
  .categories__favorites-small-wrp {
    justify-content: center;
    margin-bottom: 0px;
  }
}
.categories__favorites-small {
  width: 243px;
  height: 210px;
  background-color: #151515;
  margin-left: 30px;
  cursor: pointer;
}
.categories__favorites-small img {
  margin-top: 30px;
}
.categories__favorites-small p {
  margin-top: 20px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
@media (max-width: 590px) {
  .categories__favorites-small {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.streetster-discrabe {
  width: 100%;
  min-height: 275px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  padding: 50px 0px;
}
.streetster-discrabe span {
  text-transform: uppercase;
  font-family: "Futura PT Bold";
  font-size: 24px;
}
.streetster-discrabe p:first-child {
  margin-top: 0;
}
.streetster-discrabe p {
  font-size: 24px;
  margin-top: 50px;
}

.advantages {
  min-height: 903px;
  width: 100%;
  background-image: url(../img/advantages/advantages_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages h2 {
  font-family: "Futura PT Bold";
  font-size: 36px;
  text-align: center;
}
.advantages .container {
  padding-top: 83px;
}
.advantages__wrp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advantages__advantage {
  width: 331px;
  min-height: 300px;
}
.advantages__advantage:nth-child(2) {
  margin: 0 81px;
}
@media (max-width: 540px) {
  .advantages__advantage:nth-child(2) {
    margin: 0;
  }
}
.advantages__advantage img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: 42px;
}
.advantages__text {
  min-height: 210px;
  background-color: #F2F2F2;
  padding-top: 57px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 18px;
}
.advantages__text h3 {
  font-family: "Futura PT Bold";
  font-size: 24px;
  text-align: center;
}
.advantages__text p {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.news {
  z-index: 1;
  margin-top: -239px;
  padding-bottom: 90px;
}
@media (max-width: 1200px) {
  .news {
    margin-top: 0px;
  }
}
.news h2 {
  font-family: "Futura PT Bold";
  font-size: 64px;
  text-align: center;
}
@media (max-width: 856px) {
  .news h2 {
    margin-top: 30px;
  }
}
@media (max-width: 645px) {
  .news h2 {
    font-size: 48px;
    line-height: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .news h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
.news__posts-wrp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 63px;
}
.news__post {
  min-height: 558px;
  width: 338px;
  background-color: #F2F2F2;
  margin: 0 21px 40px 21px;
  position: relative;
  padding-bottom: 70px;
}
@media (max-width: 400px) {
  .news__post {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 385px) {
  .news__post img {
    width: 100%;
  }
}
.news__post-title {
  font-family: "Futura PT Bold";
  font-size: 24px;
  line-height: 1.1em;
  text-align: center;
  margin-top: 20px;
  min-height: 62px;
}
@media (max-width: 400px) {
  .news__post-title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.news__post-text {
  font-size: 18px;
  line-height: 1.1em;
  text-align: center;
  margin-top: 15px;
}
@media (max-width: 400px) {
  .news__post-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.news a {
  text-transform: uppercase;
  width: 100%;
  height: 53px;
  font-size: 18px;
  font-family: "Futura PT Bold";
  border: 3px solid #000;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  vertical-align: bottom;
  bottom: 0;
  transition: all 0.3s ease 0s;
}
.news a:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 365px) {
  .news a {
    width: 100%;
  }
}

.subscribe {
  width: 100%;
  min-height: 620px;
  background-image: url(../img/bg_form.png);
  background-repeat: no-repeat;
  background-color: #e4e4e4;
}
.subscribe .container {
  padding-top: 180px;
}
.subscribe__form {
  display: flex;
  justify-content: center;
}
.subscribe__title {
  font-family: "Futura PT Bold";
  text-align: center;
  font-size: 36px;
}
.subscribe input {
  width: 415px;
  height: 40px;
  border: solid 3px #000;
  margin-top: 20px;
  padding: 0 10px;
}
@media (max-width: 440px) {
  .subscribe input {
    width: 100%;
  }
}
.subscribe button {
  font-family: "Futura PT Bold";
  font-size: 18px;
  display: block;
  width: 252px;
  height: 45px;
  text-transform: uppercase;
  margin: 30px auto 0 auto;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.subscribe button:hover {
  background-color: #fff;
  color: #000;
  border: solid 3px #000;
}

.footer {
  min-height: 357px;
  background-color: #000;
}
.footer * {
  color: #fff;
}
.footer .container {
  padding: 76px 15px 0px 15px;
}
.footer__logo {
  width: 180px;
  height: 65px;
}
.footer__content-wrp {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px 20px 0px;
}
@media (max-width: 585px) {
  .footer__content-wrp {
    padding-left: 15px;
  }
}
@media (max-width: 447px) {
  .footer__content-wrp {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
.footer__text-wrp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: 22px;
  flex-wrap: wrap;
}
@media (max-width: 585px) {
  .footer__text-wrp {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer p {
  font-family: "Futura PT Bold";
  font-size: 18px;
  padding: 0 15px 16px 15px;
}
.footer ul {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}
.footer li {
  list-style: none;
  padding: 0 15px 20px 15px;
}
.footer__inst-face {
  width: 46px;
  height: 28px;
  margin-top: 18px;
}
.footer__copyright {
  color: #484848;
  text-align: center;
}

.demo-wrp {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.904);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  z-index: 10;
  animation: animate;
  animation-duration: 0.5s;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.demoactive {
  display: flex;
}

.demo {
  max-width: 500px;
  min-height: 400px;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 20px 40px 20px;
  animation: animate;
  animation-duration: 1s;
}
.demo p {
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  margin-top: 100px;
}
.demo span {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 60px;
  cursor: pointer;
}
